{% extends 'base.html.twig' %}

{% block title %} AnimeToWatch - Accueil 
{% endblock %}
{% block body %}
<div class="container mt-4">
 <div class="accueil">
    <h1 class ="presentation">Bienvenue sur Animetowatch</h1>
        <p class ="description">Animetowatch est une application qui va vous permettre de gérer vos listes d'animes à regarder et de partager vos découvertes avec la communauté ou bien de les gardez pour vous!</p>
    <hr>
        <p> Pour commencer veuillez vous inscrire pour pouvoir garder vos données
    <br>
        <input class = button_subscribe type = "button" value= "Inscription"/>
    </div>
</div>
{% endblock %}