<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.2/spacelab/bootstrap.min.css" integrity="sha512-OsnWn3iY8g5fvPVh4NfuD4/gr9uqzzT8sCouwQ1tzF6RMAVlUbNXSfk6Wxvo2HpIIR5SG0g9THIW4dxcskRG+Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.2/spacelab/bootstrap.rtl.min.css" integrity="sha512-AniX7tPX3P8JAMcl+5fx2Eiqqd5ON3p+9BgA+t+OmTTHGkn78u/hIo140Fh3r1bS5vWx1SAh3uatxZm7RBhXhw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}
        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>       
    <body class="bg-body text-dark"></body>
    {% block header %}
        {% include 'partials/_header.html.twig' %}
    {% endblock %}

    {% block body %}
    {% endblock %}
    </body>
</html>
