{% extends "base.html.twig" %}

{% block title %} AnimeToWatch - Inscription{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-5xl text-center mt-4 mb-8"> Inscription</h1>


        {{form(form)}}
    </div>
{% endblock %}